.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    background: var(--azul);
    color: #fff;
    border-radius: 3px 3px 0px 0px;
}

.titulo {
    font-weight: 400;
	font-size: 24px;
}

.boton {
    background: none;
	font-size: 16px;
	color: #fff;
	border: none;
	cursor: pointer;
	background: #004c92;
	padding: 5px 10px;
	border-radius: 3px;
	display: flex;
	align-items: center;
}

.icono {
    font-size: 14px;
	margin-left: 10px;
}