.tareas {
    height: 60px;
	padding: 0 20px;
	align-items: center;
	align-self: flex-end;
	color: #4B4B4B;
	font-size: 18px;
	display: grid;
	grid-template-columns: auto 1fr auto;
}

.tareas:nth-child(even) {
    background: #F3F3F3;
}

.tareas_texto {
	text-align: left;
	width: 100%;
}

.tareas_icono {
	cursor: pointer;
	font-size: 16px;
}

.icono_check {
	margin-right: 20px;
	font-size: 26px;
}

.contenedor_botones {
	display: flex;
}

.icono_accion {
	margin-left: 20px;
	opacity: 0;
	transition: .3s ease all;
}

.tareas:hover .icono_accion{
	opacity: 0.5;
}

/* -- Formulario Editar Tarea */

.formulario-editar-tarea {
	display: flex;
}

.formulario-editar-tarea-input {
	width: 100%;
	border: none;
	border-bottom: 2px solid #b8b8b8;
	background: none;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin-right: 20px;
}

.formulario-editar-tarea-input:focus {
	outline: none;
}

.formulario-editar-tarea-btn {
	border: none;
	background: var(--verde);
	cursor: pointer;
	color: #fff;
	padding: 0 10px;
	font-family: 'Roboto', sans-serif;
	border-radius: 3px;
}