:root {
  --verde: #80be4e;
  --azul: #007aea;
}

.contenedor {
  max-width: 700px;
  width: 100%;
  height: 100%;
  max-height: 90vh;
  overflow: auto;
  box-shadow: 0 2px 10px rgba(139, 139, 139, .25);
  border-radius: 3px;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

